doctype html
head
    // Google tag (gtag.js)
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J6ZTMKLR7N')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-J6ZTMKLR7N');

    title 天涯明月刀 航海圖鑑 水產誌
    meta(name="description", content="天涯明月刀 航海圖鑑 水產誌 東海釣魚時間 記錄")
    meta(name="keywords", content="天涯明月刀 航海圖鑑 水產誌,東海,魚點,時間,記錄,整理,一覽,釣魚,水產誌,水產志,航海圖鑑,航海圖鑒,天涯明月刀,天刀,錢塘港,江洋港,泉州港,天涯鹽場,望海岬,靈鹿島,滄浪島,幽靈島,寶礦山,瑯環福地,大滄海,東海玉渦")
    link(rel="icon",type="image/png",href="https://twskyimg.akamaized.net/gameweb/sky/favicon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    //css
    link(rel="stylesheet", href="main.css")
    //scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
body
    .title 航海圖鑑-水產誌
    #sortBtn sort
    #AquaticTimeTable
        #currentText
        #current
        .timer
            p 0
            p 12
            p 24
        ul#board
            //.aquaProduct

    script(type='text/javascript', src='main.js')